<div class=container>
  <div class="row">
    <h1 class="d-flex align-items-center justify-content-center">Help Parentsとは</h1>
      <div class="d-flex align-items-center justify-content-center">
        <p>初めての妊娠、出産、育児ってわからないことだらけ<br>
        泣き止まない！<br>
        なんで寝ない！？<br>
        これって自分の子だけ…？<br>
        などなど不安になったり抱え込んだりしていませんか？<br>
        Help Parentsで育児の悩みを気軽に投稿し、みんなで共有してみましょう
        </p>
      </div>
  </div>
</div>